<!-- Navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">Login Web App</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            {{#if user}}
                <li>
                    <p class="navbar-text">Hello {{user.name.givenName}}</p>
                </li>
                <li>
                    <a class="btn" href="/logout">Logout</a>
                </li>
            {{else}}
                <li>
                    <a class="btn" href="/login">Login</a>
                </li>
            {{/if}}
        </ul>
    </div>
</nav>
<div class="page-header"></div> <!--navbar-fixed-top fix-->