<div class="container">
    <div align="center">
        <!--<h2>Search a Repository</h2>-->
        <!--<div>-->
            <!--<form action="/githubissues" method="post">-->
                <!--<div class="input-group col-md-6">-->
                    <!--<input class="form-control input-lg" type="text" placeholder="Search a Repo" name="repo_search"-->
                           <!--required>-->
                    <!--<span class="input-group-btn">-->
                    <!--<button class="btn btn-info btn-lg" type="button">-->
                        <!--<i class="glyphicon glyphicon-search"></i>-->
                    <!--</button>-->
                <!--</span>-->
                <!--</div>-->
        <!--</form>-->
        <!--</div>-->
        <h2>Your Repos</h2>
        <div>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Repo</th>
                </tr>
                </thead>
                <tbody>
                {{#each items}}
                    <tr>
                        <th>{{items.name}}</th>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>