<div class="container">
    <div align="center">
        <!--Name of the repository-->
        <h1>{{name}}</h1>
        <div>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Issue</th>
                    <th>Owner</th>
                </tr>
                </thead>
                <tbody>
                {{#each issues}}
                    <tr>
                        <th>{{name}}</th>
                        <th>{{owner}}</th>
                    </tr>
                {{/each}}
                </tbody>
            </table>
            <a href="#">
                <div class="btn btn-google">Insert to Google Tasks</div>
            </a>
        </div>
    </div>
</div>