<div class="container">
    <div align="center">
        <h2>Your Repos</h2>
        <div>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Repo Name</th>
                    <th>Owner</th>
                    <th>Issues</th>
                </tr>
                </thead>
                <tbody>
                {{#each items}}
                    <tr>
                        <th>{{name}}</th>
                        <th>{{owner}}</th>
                        <th>
                            <a class="btn" href={{issues_url}}>See Issues</a>
                        </th>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>