<div class="container">
    <div align="center">
        <h1>Welcome {{username}}</h1>
        <a href="/githubissues">
            <div class="btn btn-google">List Github Issues</div>
        </a>
        <a href="/googletasks">
            <div class="btn btn-google">Create Google Task</div>
        </a>
    </div>
</div>