<div class="container">
    <div align="center">
        <h1>Welcome {{user.displayName}}</h1>
        <a href="/github/repos">
            <div class="btn btn-google">List your Github Repos</div>
        </a>
    </div>
</div>