<div class="container">
    <div align="center">
        <h1>Welcome {{username}}</h1>
        <div class="btn btn-google">List Github Issues</div>
        <div class="btn btn-google">Create Google Task</div>
    </div>
</div>