<div class="container">
    <div align="center">
        <h1>Welcome {{username}}</h1>
        <a href="/github/repos">
            <div class="btn btn-google">List your Github Repos</div>
        </a>
        <a href="/googletasks">
            <div class="btn btn-google">Create Google Task</div>
        </a>
    </div>
</div>