<div class="container">
    <div align="center">
        <h1>Welcome {{user.displayName}}</h1>
        <a href="/github/repos">
            <div class="btn btn-google">List your Github Repos</div>
        </a>
        <div>
            <h1>Assign a role</h1>

            {{#if roles}}
                <form action="/user/roles" method="post" onsubmit="return canSubmitRoles()">
                    <div class="form-group">
                        {{#each roles}}
                            <!--TODO: add rows 4 by 4-->
                            <div class="checkbox-inline">
                                <input type="checkbox"
                                       {{#if checked}}checked{{/if}} name="roles" value="{{name}}">{{name}}
                            </div>
                        {{/each}}
                    </div>
                    <div>
                        <button class="btn btn-google">Activate Roles</button>
                    </div>
                </form>
            {{/if}}
        </div>
    </div>
</div>

<script>
    function canSubmitRoles() {
        const checkboxes = document.getElementsByClassName("checkbox-inline");
        for(let i = 0; i<checkboxes.length; i++){
            if(checkboxes[i].firstElementChild.checked){
                return true
            }
        }
        alert("At least one checkbox must be checked")
        return false
    }
</script>