<div class="container">
        <div align="center">
            <h1>Login to Web App</h1>
            <a href="/login/google">
                <div class="btn btn-google btn-link">
                    <div class="gimage"><img src="/images/gimage.png" alt=""></div>
                    <div class="gtext">Login</div>
                </div>
            </a>
        </div>
</div>