<div class="container">
    <div align="center">
        <h1>Welcome</h1>
        <h1>{{permission}}</h1>

        <a href="/panel/reboot">
            <div class="btn btn-google">Reboot</div>
        </a>
        <a href="/panel/actions">
            <div class="btn btn-google">Actions</div>
        </a>
        <!--<button>delete</button>-->
    </div>
</div>